.form {
    width: 70%;
    margin: auto;
    text-align: left;
    
    
}

/* Generales */
.navbar .navbar-brand {
  color: #ff6200 !important; /* Use your desired color */
  text-decoration: none; /* Optional: removes underline */
}

.img-logo-bullseye {
  width: 2.95rem;
  height:auto;
  margin-bottom: 0.5rem;
}

.bg-gray {
    background-color: #f5f5f5 !important;
}

.bg-orange {
    background-color: #ff6200!important;
}

.text-orange {
color: #ff6200!important;
}

.gray-button {
    color: black !important;
    background-color: #f5f5f5 !important;
    border: none !important;
    transition: background-color 0.3s ease !important;
    font-weight: bold !important;
    text-transform: capitalize;
}

.gray-button:hover {
    color: white !important;
    background-color: #ff6200 !important;

}

.orange-button {
    color: white !important;
    background-color: #ff6200 !important;
    border: none !important;
    font-weight: bold !important;
    text-transform: capitalize;
    transition: background-color 0.3s ease !important;
}

.orange-button:hover{
    background-color: #e55a00 !important;
}

  .close-modal-button {
    color: black !important;
    background-color: #f5f5f5 !important;
    border: none !important;
    text-transform: capitalize;
    transition: background-color 0.3s ease !important;
  }

  .close-modal-button:hover{
    background-color: #D9D9D9 !important;
  }

  /* Restaurante */

  .btn-small-text {
    font-size: 0.875rem !important; /* Smaller font size (equivalent to 14px) */
    white-space: nowrap !important; /* Prevents text from wrapping */
    text-overflow: ellipsis !important; /* Adds "..." if the text overflows */
    overflow: hidden !important; /* Hides overflowing text */
  }