
.gray-dropdown .dropdown-item:hover {
    background-color: #ECECEC !important;
}

.gray-dropdown button {
    color: #6B0C05 !important;
    background-color: #ECECEC !important;
    border: none;
}

.custom-accordion-header .accordion-button:not(.collapsed) {
    background-color:#FF6C40; /* Change this to your desired color */
    color: black; /* Text color */
  }

  .custom-accordion-header .accordion-button {
    background-color: #ECECEC;
    color: #6B0C05;
   
}

.custom-list-item:hover{
    background-color: #ECECEC !important;
}

.menu-builder-dish-card {
    width: 100% !important; /* Keep all cards the same width */
    height: 100% !important; /* Set a fixed height for uniformity */
    /* Optional, consistent spacing between cards */

}

.menu-builder-img {
    height: auto; /* Set a fixed height */
    object-fit: cover; /* Ensures the image scales proportionally and crops if necessary */
    width: 100%; /* Ensures the image fills the card's width */
    display: block;
    max-height: 200px;
  }

  .btn-small-text {
    font-size: 0.875rem !important; /* Smaller font size (equivalent to 14px) */
    white-space: nowrap !important; /* Prevents text from wrapping */
    text-overflow: ellipsis !important; /* Adds "..." if the text overflows */
    overflow: hidden !important; /* Hides overflowing text */
  }